/*######################### 
General
#########################*/

html { 
  background: url(../img/bg-2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #000;
  text-shadow: none;
}

::selection {
  background: #5E5E5E;
  text-shadow: none;
  color: #FFF;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  margin: 0;
}

.main {
  padding: 0;
}

#main-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.main article h1 {
  font-size: 2em;
}

p, h1, h2, h3 {
  text-align: center;
  color: #2B2B2B;
}

p {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2B2B2B;
  padding: 0;
  width: 40%;
  margin: 0px auto 20px;
}

.section-white {
  background-color: #FFF;
  padding-bottom: 25px;
}

.section-img {
  background: url(../img/bridge-2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-bottom: -5px;
  width: 100%;
}

article {
  padding-bottom: 10px;
}

#linkedin-div {
  text-align: center;
  margin: 15px 0 0;
}

#linkedin-icon {
  height: 25px;
  margin: 0 auto;
}


/*######################### 
Navigation
#########################*/

nav {
  position:absolute;
  top:0;
  right:0;
  width: 100%;
  border-bottom:solid 1px #5e5e5e;
  background-color: #FFF;
  z-index: 50;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  float: right;
  display: inline-block;
  margin: 0 5px;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  color: #5E5E5E;
  background: #FFF;
  -o-transition:.6s;
  -ms-transition:.6s;
  -moz-transition:.6s;
  -webkit-transition:.6s;
  transition:.6s;
}

nav li:first-child a {
  margin-right: 10px;
}

nav li:last-child a {
  margin-left: 5px;
}

nav a:hover {
  text-decoration: underline;
  color: #008ED6;
}

.nav-logo {
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 10px;
  height: 20px;
  width: auto;
  z-index: 99;
}

/*######################### 
Header
#########################*/

.header-container {
  position: fixed;
  width: 100%;
}

.header-container, .main aside {
  background: #FFF;
}

.logo-header h1 {
  font-weight: 300;
  color: #FFF;
  margin: 0;
  font-size: 2em;
  padding: 0;
}

#header-upper {
  margin-top: 50px;
}

#header-lower {
  margin-bottom: 100px;
}

.fix-header {
  padding-top: 20px;
  margin: 0;
}

#fix-header-title {
  margin-top: 0;
}

/*######################### 
Portfolio
#########################*/

.portfolio-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio-section ul li {
  padding: 0px;
  margin: 5px;
  height: 300px;
  width: auto;
  text-align: center;
}

#img-port {
}

#img-port:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}


/*######################### 
Contact
#########################*/

@charset "UTF-8";

#name {
  width: 97%;
  margin: 0 auto;
  padding: 10px;
}

#name p {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 5px;
}

#email {
  width: 97%;
  margin: 0 auto;
  padding: 10px;
}

#email p {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.feedback-input {
  width: 97.1%;
  margin: 0 auto;
  padding: 10px;
}

textarea, input {
  border:solid 2px;
  border-color: #D1D1D1;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea, input:hover {
  border-color: ;
}

p a {
  text-decoration: none;
  color: #008ed6;
}

.submit {
  margin: 0 auto;
  color: #2b2b2b;
  text-align: center;
  width: 90%;
}

#button {
  border: none;
  padding: 10px;
  width: 100%;
}

#button:hover{
  background-color: #2b2b2b;
  color: #FFF;
}
  
.submit:hover {

}


#form-main{

}

#form-div {

}

.feedback-input:focus{

}

textarea {
}

input:hover, textarea:hover,
input:focus, textarea:focus {

}
  
.ease {

}

.submit:hover .ease{

}

/* Icons */

/*#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}*/

/* Icons */

/*######################### 
Footer
#########################*/

.footer-container {
  background-color: #5E5E5E;
  padding: 20px 0;
}

footer {
  padding: 0;
  background-color: #5E5E5E;
}

footer p {
  margin: 0 auto;
  color: white;
  padding: 0;
  text-align: center;
  font-weight: 300;
}

.footer-text {
  color: white;
}

/*######################### 
Imgs
#########################*/

.logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo img {
  width: 40%;
  height: 40%;
  margin: 80px 0 0;
}

/*######################### 
Media Queries - Mobile
#########################*/

@media only screen and (max-width: 640px) {

  html {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  }
  
  .section-img {
    margin-bottom: -5px;
  }

  .logo img {
    width: 70% !important;
    height: 70% !important;
  }

  .logo-header h1 {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }

  hr {
    width: 90%;
  }

  #name {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  #email p {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
  }

  #email {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  .feedback-input {
    width: 90%;
  }

  #button {
    width: 97%;
  }

}

/*######################### 
Media Queries - Tablet
#########################*/

@media only screen and (min-width: 768px) {

  .section-img {
    margin-bottom: -5px;
  }

  .title-logo {
    float: left;
  }

  .main article {
    float: left;
    width: 100%;
  }

  .main aside {
    float: right;
    width: 28%;
  }

  .portfolio-section ul {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .portfolio-section ul li {
    display: inline-block;
    width: auto;
    height: 300px;
    margin: 0 1px;
    margin-bottom: 5px;
  }

  #button {
    width: 99%;
  }

}

/*######################### 
Media Queries - Desktop
#########################*/

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .portfolio-section ul {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .portfolio-section ul li {
    display: inline-block;
    width: auto;
    height: 300px;
    margin: 0 1px;
    margin-bottom: 5px;
  }

}

/*######################### 
Page: 
#########################*/


/*######################### 
Colour Scheme
#########################*/
/*

#FFFFFF White
#F0F0F0 Very Light Grey
#D1D1D1 Light Grey
#AAAAAA Medium Grey
#5E5E5E Dark/Medium Grey
#2B2B2B Dark Grey
#000000 Black

#008ED6 Blue

*/

/*######################### 
Helper classes
#########################*/

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*######################### 
INTERMEDIATE: IE Fixes
#########################*/

nav ul li {
  display: inline;
}

.oldie nav a {
  margin: 0 0.7%;
}

/*######################### 
ALL: IE Fixes
#########################*/

.ie7 .title-logo {
  padding-top: 20px;
}

/*######################### 
Print styles
#########################*/

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title-logo]:after {
    content: " (" attr(title-logo) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

}